* {
    color: brown;
    background-color: antiquewhite;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    font-size: 20px;
}

a {
    font-size: inherit;
    font-family: 'Courier New', Courier, monospace;
}